<br/>
<div class="row">
  <div class="col-md-2" align="center">
    <a href="https://www.eeassoc.org/index.php?site=&trsz=1"><img src="https://www.eeassoc.org/layout/logo.gif" alt="European Economic Association logo" /></a>
  </div>
  <div class="col-md-8">
    <p>This lesson is being developed under the initiative and sponsorship of the Standing Committee on Research of the <a href="https://www.eeassoc.org/index.php?site=&trsz=1">European Economic Association</a> (EEA). The EEA is an international scientific body, with membership open to all persons involved or interested in economics. Individual membership of the EEA includes access to the <a href="http://www.eeassoc.org/index.php?site=JEEA&page=41">Journal of the Economic Association (JEEA)</a>. Members can submit papers to JEEA for no fee. Members also have the right to submit a paper to the <a href="http://www.eeassoc.org/index.php?site=&page=12">EEA annual congress</a> and attend the event.</p>
  </div>
</div>

 

